﻿@model GeoApp.Models.AddressInfoViewModel
@{
    ViewBag.Title = "Home Page";
}

<h1>Geo App</h1>

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <div>Address:</div>
    @Html.TextBoxFor(model => model.Address)
    <input name="command" type="submit" value="Check data" />
    <input name="command" type="submit" value="Save data" />
    <input name="command" type="submit" value="Delete data" />
}
<p></p>
 <table border="1" , cellspacing="10">
     <thead>
         <tr>
             <th>
                 @Html.DisplayName("IP")
             </th>
             <th>
                 @Html.DisplayName("City")
             </th>
             <th>
                 @Html.DisplayName("Zip")
             </th>
             <th>
                 @Html.DisplayName("Region")
             </th>
             <th>
                 @Html.DisplayName("Country")
             </th>
             <th>
                 @Html.DisplayName("Continent")
             </th>
             <th>
                 @Html.DisplayName("Latitude")
             </th>
             <th>
                 @Html.DisplayName("Longitude")
             </th>
         </tr>
     </thead>
     @foreach (var item in Model.addressList)
     {
         if (item.Ip == Model.Ip)
         {
             <tr>
                 <td>@item.Ip&nbsp</td>
                 <td>@item.City&nbsp</td>
                 <td>@item.Zip&nbsp</td>
                 <td>@item.Region&nbsp</td>
                 <td>@item.Country&nbsp</td>
                 <td>@item.Continent&nbsp</td>
                 <td>@item.Latitude&nbsp</td>
                 <td>@item.Longitude&nbsp</td>
             </tr>
         }
      }
 </table>
            



